@import '../variables.css';
@import '../fonts.css';

@import './styles/button-base.css';

@import './styles/button-primary.css';
@import './styles/button-secondary.css';
@import './styles/button-transparent.css';
@import './styles/button-outlined.css';
@import './styles/button-danger.css';
@import './styles/button-invisible.css';
@import './styles/button-disabled.css';


.button-small {
    padding: var(--padding-small);
    font-size: 12px;
}

.button-medium {
    padding: var(--padding-medium);
    font-size: 14px;
}

.button-large {
    padding: var(--padding-large);
    font-size: 16px;
}