.button-disabled {
    color: var(--color-text-light);
    cursor: not-allowed;
    opacity: 0.5;
}

.button-disabled:hover, .button-disabled:focus, .button-disabled:active {
    transform: none;
    box-shadow: none;
}


